<form action="/home/result" type="get">
    <input type="text" name="input_search">
    <input type="submit" value="검색">
</form>



<% @hrefs.each_with_index do |t,i| %>
  
<a href="https://www.youtube.com/<%=t %>"><p><%= @titles[i] %></p></a>

<%end %>


<% @hrefs.each do |t| %>
<p><%= t %></p>
<%end %>
